{snippet}

{if $renderUpdate}

{control update}

{elseif $renderInsert}

{control insert}

{else}

<table class="table">
    <thead>
    <tr>
        {foreach $headings as $key => $header}
        <th>
            {if isset($sortableState[$key])}
            {if $sortableState[$key] > 0}
            <a href="{link sort!, key => $key, direction => ($sortableState[$key] * -1)}" class="ajax">
                {$header}
                <span class="fa fa-arrow-up"></span></a>
            {elseif $sortableState[$key] < 0}
            <a href="{link sort!, key => $key, direction => ($sortableState[$key] * -1)}" class="ajax">
                {$header}
                <span class="fa fa-arrow-down"></span></a>
            {else}
            <a href="{link sort!, key => $key, direction => 1}" class="ajax">{$header}</a>
            {/if}
            {else}
            {$header}
            {/if}
        </th>
        {/foreach}
        {if $grid->editable}
        <th>
            <a href="{plink this, name => $grid->name, insert => true}" class="fa fa-plus"></a>
        </th>
        {/if}
    </tr>
    </thead>
    <tbody>
    {foreach $entities as $id => $entity}
    {control gridRow-$id}
    {/foreach}
    </tbody>
</table>

{/if}

{/snippet}